.footer-container {
  background-color: #003366;
  color: #ffffff;
  padding: 40px 50px;
  font-family: 'Segoe UI', sans-serif;
  margin-top: auto;
}
.footer-content {
  display: flex; justify-content: space-between; align-items: flex-start;
  padding-bottom: 20px; border-bottom: 1px solid rgba(255,255,255,0.1);
}
.footer-col h3 { font-size: 16px; margin-bottom: 15px; font-weight: bold; letter-spacing: 1px; }
.footer-link { margin-bottom: 8px; color: #ccc; font-size: 14px; cursor: pointer; }
.footer-link:hover { color: #fff; }
.socials {
  display: flex;
  flex-direction: row;
  gap: 20px;    /* khoảng cách giữa icon */
}

.social-icon {
  width: 35px;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 6px;
  display: flex;
  align-items: center;     /* Căn giữa dọc */
  justify-content: center; /* Căn giữa ngang */
  cursor: pointer;
  transition: 0.3s;
  color: white; /* Màu icon */
}
.contact-row { display: flex; gap: 10px; margin-bottom: 10px; color: #ccc; font-size: 14px; }
.footer-bottom { padding-top: 20px; display: flex; justify-content: space-between; font-size: 12px; color: #aaa; }
