.course-std-page {
  width: 100%;
  height: auto;
  margin: 0 auto;
  min-height: 100%;
  padding: 30px 40px 30px 40px;
}
.top-actions {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
  width: 100%;
  max-width: 100%;
}
.btn {
  padding: 12px 10px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}
.btn-outline {
  background: white;
  border: 1px solid #003366;
}
.btn-primary {
  background: var(--primary-blue);
  color: white;
}
.card-container {
  background: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.section-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 20px;
}
