import React from "react";

const StudentCourses = () => {
  return (
    <div style={{ width: "100%", padding: "25px" }}>
      <div className="tutor-home-card">
        <h2>Danh sách tài liệu (demo)</h2>
        <p>Tạm thời hiển thị text giả, sau này bạn render list PDF như design.</p>
      </div>
    </div>
  );
};

export default StudentCourses;
